.navbox {
  border-top: var(--border-width) var(--border-style) var(--grey-lighter);
  border-bottom: var(--border-width) var(--border-style) var(--grey-lighter);
}

.navList {
  display: flex;
  align-items: center;
	padding: 10px 0 10px 0;
  gap: 26px;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--font-size-tiny);
  color: var(--grey-darkest);
}

.navLink:is(:focus, :hover) {
  color: var(--primary-dark-orange);
}

.active {
  color: var(--primary-dark-orange);
}
