.navbox {
  padding: 10px 122px;
  border-top: var(--border-width) var(--border-style) var(--grey-lighter);
  border-bottom: var(--border-width) var(--border-style) var(--grey-lighter);
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 26px;
}

.nav_link {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--grey-darkest);
}

.nav_text {
  font-size: var(--font-size-tiny);
  color: var(--grey-darkest);
}

.nav_text_color {
  color: var(--primary-dark-orange);
}

.icon_color {
  font-size: var(--font-size-small);
  fill: var(--primary-dark-orange);
}
