.advertTitle {
  margin-block-end: 24px;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btnWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
}
