.container {
  display: flex;
}

.pageContent {
  padding: 113.5px 20px;
}

.backLinkWrap {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 32px;
}

.arrowIcon {
  margin-right: 4px;
  width: var(--icon-size-normal);
  height: var(--icon-size-normal);
  stroke: var(--grey-darker);
}

.backLink {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-normal);
  color: var(--grey-darkest);
}

.title {
  margin-bottom: 8px;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  color: var(--default-black);
}

.additionalInfo {
  width: var(--component-width);
  margin-bottom: 16px;
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-normal);
  color: var(--default-black);
}

.formInput {
  width: var(--component-width);
  margin-top: 4px;
  height: var(--component-height);
  padding: 0 12px;
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-normal);
  border-radius: var(--border-radius);
  border: var(--border-width) var(--border-style) var(--grey-dark);
  color: var(--default-black);
  background-color: transparent;
  appearance: none;
}

.formInput.filled {
  border-color: var(--default-black);
}

.formInput:hover {
  border-color: var(--primary-yellow);
}

.formInput:focus {
  outline: var(--border-width) var(--border-style) transparent;
  border-color: var(--primary-yellow);
}

.formInput::placeholder {
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-normal);
  color: var(--grey-dark);
}

.inputWrapEmail {
  margin-bottom: 32px;
}

.styledButton {
  width: var(--component-width);
  height: var(--component-height);
  padding: 10px;
  margin-bottom: 12px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-extra-small);
  font-weight: var(--font-weight-bold);
  color: var(--default-black);
  background-color: var(--primary-yellow);
  cursor: pointer;
}

.styledButton:disabled {
  background-color: var(--grey-lighter);
  color: var(--default-white);
  cursor: not-allowed;
}

.supportLink {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-normal);
  text-decoration-line: underline;
  color: var(--grey-darker);
}
