.trashListTitle {
  margin-bottom: 20px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-extra-small);
  color: var(--default-black);
}

.scrollContainer {
  margin-bottom: 20px;
  height: 220px;
  padding-right: 10px;
}

.priceSummary {
  margin-bottom: 32px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-extra-small);
  text-align: right;
  color: var(--default-black);
}

/*CART ITEMS STYLES*/
.cartItem {
  display: flex;
	padding-block-start: 11.5px;
  padding-block-end: 11.5px;
  width: 418px;
  border-bottom: var(--border-width) var(--border-style) var(--grey-lighter);
}
