.trashListTitle {
  margin-bottom: 20px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-extra-small);
  color: var(--default-black);
}

.scrollContainer {
  margin-bottom: 20px;
  width: 442px;
  height: 220px;
  padding-right: 10px;
}

.productList {
  position: relative;
  padding-bottom: 13px;
  margin-bottom: 20px;
  display: flex;
  border-bottom: var(--border-width) var(--border-style) var(--grey-lighter);
}

.img {
  width: 88px;
  height: 88px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: var(--border-radius);
}

.productTitle {
  padding-right: 121px;
  margin-bottom: 5px;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-tiny);
  color: var(--default-black);
}

.owner {
  margin-bottom: 13px;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-extra-tiny);
  color: var(-grey-darkest);
}

.ownerName {
  font-weight: var(--font-weight-medium);
}

.filterInfo {
  display: flex;
  white-space: nowrap;
  gap: 8px;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-extra-tiny);
  color: var(--default-black);
}

.priceContainer {
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  gap: 10px;
}

.price {
  white-space: nowrap;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-tiny);
  color: var(--default-black);
}

.trashBtn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
}

.trashIcon {
  width: var(--icon-size);
  height: var(--icon-size);
  stroke: var(--error-red);
}

.priceSummary {
  margin-bottom: 32px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-extra-small);
  text-align: right;
  color: var(--default-black);
}
