.categoryTitle {
  margin-bottom: 24px;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.filter {
  flex: 2;
}

.productViewSort {
  position: relative;
  flex: 1;
  padding-inline-start: 72px;
}

.stickyBlock {
  position: sticky;
  top: 20px;
}
