.container {
  margin: 0 auto;
  max-width: 1200px;
}

.category_title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
}

.way {
  margin-block: 20px 40px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.navLink {
  font-size: 14px;
  color: #949494;
}

.navLink:is(:hover, :focus) {
  color: #000;
}

.active {
  font-size: 14px;
  color: #000;
}

.item_img {
  width: 288px;
  height: 120px;
  border-radius: 8px;
  border: 1px solid #949494;
  margin-bottom: 8px;
}

.child_title {
  color: #000;
}

.child_title_color {
  color: #949494;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
