services:
  frontend:
    image: marketplace-frontend:latest
    container_name: frontend
    restart: always
    env_file: ../.env
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
      - logs:/var/log/frontend
    ports:
      - ${FRONTEND_PORT}:8080
