.container {
  width: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-inline: auto;
  margin-block-end: 115px;
}

.btnPagination {
  border: none;
  color: var(--default-white);
  background-color: var(--grey-lighter);
}

.btnPagination:is(:hover, :focus) {
  color: var(--default-black);
  background-color: var(--primary-yellow);
}

.paginationNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.btnNumber,
.active {
  width: 32px;
  height: 32px;
  font-size: var(--font-size-tiny);
  border: none;
  border-radius: var(--border-radius-small);
  color: var(--default-black);
  background-color: var(--default-white);
}

.btnNumber:hover,
.active {
  border: var(--bord-width-bigger) var(--border-style) var(--primary-yellow);
}
