.wrapper {
  padding: 24px;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--cart-shadow);
  border: none;
}

.title {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  margin-block-end: 20px;
}

.advertSpan {
  display: block;
  margin-block-start: 4px;
  width: 757px;
  font-size: var(--font-size-tiny);
  color: var(--grey-darkest);
}

.deliveryBox {
  display: flex;
  align-items: center;
  gap: 16px;
}
