.section {
  padding: 185px 0 114px 0;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-block-end: 32px;
  font-size: var(--font-size-large-medium);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
}

.link {
  font-size: var(--font-size-tiny);
  text-decoration: underline;
  color: var(--default-black);
}

.list {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 16px;
  column-gap: 15px;
}

.item {
  position: relative;
  width: 390px;
  height: 232px;
  border-radius: var(--border-radius-medium);
}

.itemTitle {
  position: absolute;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  color: var(--default-white);
  z-index: 100;
}

.img {
  position: absolute;
}

/* LOADER */
.boxLoader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.loaderList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
}

.loaderItem:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.loaderItem:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.loaderItem:nth-child(3) {
  grid-column: 2;
  grid-row: 1;
}

.loaderItem:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.largeItem {
  grid-column: 3;
  grid-row: 1 / 3;
}
