.loader {
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 500px;
}

.container {
  margin: 122px auto 140px;
  max-width: 1200px;
}

.title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-block-end: 32px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.link {
  font-size: 14px;
  text-decoration: underline;
  color: #000;
}

.list {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 16px;
  column-gap: 15px;
}

.item {
  position: relative;
  width: 390px;
  height: 232px;
  border-radius: 16px;
}

.item_title {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.255;
  color: #fff;
  z-index: 100;
}

.img {
  position: absolute;
}
