.payment_section {
  margin-block-start: 20px;
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.payment_option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #b1b1b1;
  font-size: 14px;
  margin-block-end: 12px;
}

input[type='radio'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #b1b1b1;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type='radio']:checked {
  background-color: white;
  border-color: #fcbc5a;
}

input[type='radio']:checked::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fcbc5a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnContinue {
  display: block;
  margin-block-start: 24px;
  margin-inline-start: auto;
}

.resultInput {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #fcbc5a;
  background-color: white;
  border-radius: 50%;
  outline: none;
}

.resultInput::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #fcbc5a;
  border-radius: 50%;
}
