.modalBox {
  position: absolute;
  display: flex;
  top: 95px;
  left: 28.5%;
  box-shadow: var(--modal-shadow);
  z-index: 500;
}

.boxCategories {
  width: 321px;
  height: 420px;
  border-radius: var(--border-radius-medium);
  background-color: var(--default-white);
  border: none;
  box-shadow: var(--modal-shadow);
}

.boxCategoriesOpen {
  width: 321px;
  height: 420px;
  border-top-left-radius: var(--border-radius-medium);
  border-bottom-left-radius: var(--border-radius-medium);
  background-color: var(--default-white);
}

.listCategories {
  position: relative;
  height: 340px;
  margin: 40px 24px 40px 36px;
}

.categoryItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-block-end: 12px;
  font-size: var(--font-size-extra-small);
  color: var(--default-black);
}

.categoryItem:last-child {
  margin-block-end: 0;
}

.categoryItem:is(:hover, :focus) {
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.categoryMenu {
  width: 660px;
  height: 420px;
  padding: 40px 38px 40px 0;
  border-top-right-radius: var(--border-radius-category);
  border-bottom-right-radius: var(--border-radius-category);
  background-color: var(--default-white);
}

.listTitle {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  background-color: var(--default-white);
  z-index: 500;
}

.box {
  padding-inline-start: 32px;
  border-left: var(--border-width) var(--border-style) var(--grey-lighter);
}

.scrollInner {
  position: relative;
}

.listCards {
  display: grid;
  width: 560px;
  height: 297px;
  margin-top: 24px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 24px;
}

.itemCard {
  width: 128px;
  height: 172px;
  border-top-right-radius: var(--border-radius-medium);
  border-top-left-radius: var(--border-radius-medium);
}

.itemImg {
  width: 100%;
  height: 128px;
  border-radius: var(--border-radius);
  background-color: var(--grey-light);
}

.boxText {
  padding-block-start: 8px;
  height: 44px;
  font-size: var(--font-size-tiny);
}
