.modalBox {
  position: absolute;
  display: flex;
  top: 95px;
  left: 246px;
  box-shadow: 0px 1px 8px 0px rgba(130, 84, 8, 0.102);
  z-index: 500;
}

.boxCategories {
  width: 321px;
  height: 420px;
  border-radius: 16px;
  background-color: #fff;
  border: none;
  box-shadow: 0px 1px 8px 0px #8254081a;
}

.boxCategoriesOpen {
  width: 321px;
  height: 420px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: #fff;
}

.listCategories {
  position: relative;
  height: 340px;
  margin: 40px 24px 40px 36px;
}

.categoryItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-block-end: 12px;
  font-size: 16px;
  color: black;
}

.categoryItem:last-child {
  margin-block-end: 0;
}

.categoryItem:is(:hover, :focus) {
  font-weight: 700;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #fcbc5a;
  border-radius: 1px;
  height: 50px;
}

::-webkit-scrollbar-track {
  background-color: rgba(130, 84, 8, 0.1);
}

.categoryMenu {
  width: 660px;
  height: 420px;
  padding: 40px 38px 40px 0;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #fff;
}

.listTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.255;
  background-color: #fff;
  z-index: 500;
}

.scrollbox {
  overflow-y: auto;
  padding-inline-start: 32px;
  border-left: 1px solid #d2d2d2;
}

.scrollbox_inner {
  position: relative;
  height: auto;
}

.listCards {
  display: grid;
  width: 560px;
  height: 297px;
  margin-top: 24px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 24px;
}

.itemCard {
  width: 128px;
  height: 172px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.itemImg {
  width: 100%;
  height: 128px;
  border-radius: 8px;
  background-color: #fad7d7;
}

.boxText {
  padding-block-start: 8px;
  height: 44px;
  font-size: 14px;
}
