.shoppingBox {
  margin-block-end: 80px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 583px;
  background: var(--default-white);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--cart-shadow);
  overflow: hidden;
}

.title {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  color: var(--default-black);
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
