.shoppingBox {
  margin-block-end: 80px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 583px;
  background: var(--default-white);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--cart-shadow);
  overflow: hidden;
}

.title {
  margin-bottom: 20px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  color: var(--default-black);
}

/*SHOP CART STYLES*/
.cartItemShop {
  display: flex;
  padding-block-start: 16px;
  padding-block-end: 16px;
  width: 618px;
  border-bottom: var(--border-width) var(--border-style) var(--grey-lighter);
}
