.accordionItem {
  margin-block-end: 16px;
  background-color: var(--secondary-peach);
  border-radius: var(--border-radius-medium);
}

.question {
  position: relative;
  text-align: left;
  width: 593.5px;
  padding: 20px 16px;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  border: var(--border-width-big) var(--border-style) var(--secondary-peach);
  border-radius: var(--border-radius-medium);
  background-color: var(--default-white);
  color: var(--default-black);
}

.questionOpen {
  position: relative;
  text-align: left;
  width: 592px;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  padding-inline: 16px;
  padding-block-start: 20px;
  border-top-right-radius: var(--border-radius-medium);
  border-top-left-radius: var(--border-radius-medium);
  color: var(--default-white);
  background-color: var(--secondary-peach);
  border: none;
}

.collapse {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}

.collapseOpen {
  height: auto;
  overflow: hidden;
  transition: height 0.3s;
}

.answer {
  padding-inline: 16px;
  padding-block: 8px 20px;
  background-color: var(--secondary-peach);
  color: var(--default-white);
  font-size: var(--font-size-extra-small);
  font-weight: var(--font-weight-normal);
  border-bottom-left-radius: var(--border-radius-medium);
  border-bottom-right-radius: var(--border-radius-medium);
}

.accordionIcon {
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  transform: translateY(-50%);
}

.iconActive {
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  transform: translateY(-50%) rotate(180deg);
  color: var(--default-white);
}
