.header {
  border-bottom: var(--border-width) var(--border-style) var(--grey-lighter);
}

.container {
  width: 1440px;
  margin-inline: auto;
  padding: 18px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--font-size-tiny);
  color: var(--grey-darkest);
}
