.header {
  border-bottom: var(--border-width) var(--border-style) var(--grey-lighter);
}

.section {
  padding: 18px 0 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;	
}

.navLink {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--font-size-tiny);
  color: var(--grey-darkest);
}
