.cartItem {
  display: flex;
  align-items: start;
  gap: 8px;
  padding-block-end: 12px;
  border-bottom: 1px solid #eee;
}

.cartItemShop {
  display: flex;
  align-items: start;
  gap: 16px;
  padding-block-end: 16px;
  width: 618px;
  border-bottom: 1px solid var(--grey-lighter);
}

.itemImg {
  width: 88px;
  height: 88px;
  border-radius: var(--border-radius);
  opacity: 0px;
}

.itemImgShop {
  width: 112px;
  height: 124px;
  border-radius: var(--border-radius);
  opacity: 0px;
}

.itemTitle {
  margin-block-end: 4px;
  font-size: var(--font-size-tiny);
}

.itemTitleShop {
  margin-block-end: 4px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-extra-small);
}

.itemSeller {
  margin-block-end: 14px;
  font-size: var(--font-size-extra-tiny);
  color: var(--grey-darkest);
}

.sellerName {
  font-weight: var(--font-weight-medium);
}

.itemDetails {
  width: 335px;
  margin-inline-end: 16px;
}

.itemFilter {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: var(--font-size-extra-tiny);
  color: #000;
}

.itemFilterShop {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: var(--font-size-tiny);
  color: #000;
}

.itemPrice {
  margin-inline: auto 18px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-tiny);
  color: #000;
}

.itemPriceShop {
  margin-inline-end: 20px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  color: #000;
}

.removeBtn {
  background: none;
  border: none;
  cursor: pointer;
}
