.container {
  margin: 0 auto 114px;
  max-width: 1200px;
}

.title {
  margin-block-end: 32px;
  font-size: var(--font-size-large-medium);
  font-weight: var(--font-weight-bold);
}

.way {
  margin-block: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.navLink {
  font-size: var(--font-size-extra-small);
  color: var(--grey-darker);
}

.navLink:is(:hover, :focus) {
  color: #000;
}

.active {
  font-size: 14px;
  color: #000;
}

.list {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 16px;
  column-gap: 15px;
}

.item {
  position: relative;
  width: 390px;
  height: 232px;
  border-radius: var(--border-radius-medium);
}

.itemTitle {
  position: absolute;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  color: var(--default-white);
  z-index: 100;
}

.img {
  position: absolute;
}
