.container {
  margin: 0 auto 114px;
  max-width: 1200px;
}

.title {
  margin-block-end: 32px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.way {
  margin-block: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.navLink {
  font-size: 14px;
  color: #949494;
}

.navLink:is(:hover, :focus) {
  color: #000;
}

.active {
  font-size: 14px;
  color: #000;
}

.list {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 16px;
  column-gap: 15px;
}

.item {
  position: relative;
  width: 390px;
  height: 232px;
  border-radius: 16px;
}

.item_title {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.255;
  color: #fff;
  z-index: 100;
}

.img {
  position: absolute;
}
