.socialButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 12px;
}

.socialButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  width: 180px;
  height: var(--component-height);
  border-radius: var(--border-radius);
  border: var(--border-width) var(--border-style) var(--grey-dark);
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-normal);
  background-color: transparent;
  color: var(--default-black);
}

.facebookIcon {
  margin-right: 8px;
  width: var(--icon-size-large);
  height: var(--icon-size-large);
  fill: var(--facebook-blue);
}

.googleIcon {
  margin-right: 8px;
  width: var(--icon-size-large);
  height: var(--icon-size-large);
}

.divider {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-normal);
  margin-bottom: 12px;
  color: var(--default-black);
}

.divider::before {
  position: absolute;
  width: 163.5px;
  height: 1px;
  right: 106px;
  transform: translateX(-60%);
  content: '';
  background-color: var(--grey-lighter);
}

.divider::after {
  position: absolute;
  width: 163.5px;
  height: 1px;
  left: 106px;
  transform: translateX(60%);
  content: '';
  background-color: var(--grey-lighter);
}
