/* .headerWrapper {
  display: flex;
  margin-bottom: 24px;
}

.headerBtn {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background-color: transparent;
  color: #949494;
}

.headerBtnActive {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background-color: transparent;
  color: #0c0600;
}

.headerWrapLogin,
.headerWrapRegister {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 180px;
  padding: 8px 12px;
}

.headerWrapLogin::after {
  position: absolute;
  width: 184px;
  height: 1.5px;
  left: -2px;
  bottom: -1px;
  background-color: #fcbc5a;
  content: '';
} */

.socialButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 12px;
}

.socialButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  width: 180px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #b1b1b1;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  color: #0c0600;
}

.facebookIcon {
  margin-right: 8px;
  width: 32px;
  height: 32px;
  fill: #0062e0;
}

.googleIcon {
  margin-right: 8px;
  width: 32px;
  height: 32px;
}

.divider {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #000;
}

.divider::before {
  position: absolute;
  width: 163.5px;
  height: 1px;
  right: 106px;
  transform: translateX(-60%);
  content: '';
  background-color: #d2d2d2;
}

.divider::after {
  position: absolute;
  width: 163.5px;
  height: 1px;
  left: 106px;
  transform: translateX(60%);
  content: '';
  background-color: #d2d2d2;
}
