.image {
  object-fit: cover;
  width: 272px;
  height: 215px;
  margin-bottom: 8px;
  border-radius: var(--border-radius);
}

.likeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-small);
  width: 24px;
  height: 24px;
  border: none;
  background-color: var(--grey-lightest);
  z-index: 111;
}

.likeIcon {
  stroke-width: 1.4;
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--default-black);
}

.liked {
  fill: var(--secondary-pink);
}

.publicDate {
  margin-bottom: 4px;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-extra-tiny);
  color: var(--grey-darker);
}

.cartTitle {
  font-size: var(--font-size-extra-small);
  font-weight: var(--font-weight-normal);
  color: var(--default-black);
  line-height: 1.255;
  max-width: 264px;
}

.cartTitleShort {
  margin-bottom: 30px;
}

.cartTitleLong {
  margin-bottom: 12px;
}

.price {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  color: var(--default-black);
}
