.wrapper {
  padding: 24px;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--cart-shadow);
  border: none;
}

.title {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  margin-block-end: 20px;
}

.colorGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.colorButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--border-width) var(--border-style) var(--grey-dark);
  border-radius: var(--border-radius);
  padding: 10px 15px;
  width: 215px;
  height: 38px;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-extra-small);
  color: var(--default-black);
  background-color: var(--default-white);
  cursor: pointer;
}

.colorButton:hover {
  border-color: var(--primary-yellow);
}

.selected {
  border-color: var(--primary-yellow);
  background-color: var(--primary-yellow-light);
}

.label {
  flex-grow: 1;
  text-align: left;
}

.colorDot {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  margin-left: 12px;
}
