.container {
  display: flex;
}

.pageContent {
  padding: 113.5px 20px;
}

.backLinkWrap {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 32px;
}

.arrowIcon {
  margin-right: 4px;
  width: var(--icon-size-normal);
  height: var(--icon-size-normal);
  stroke: var(--grey-darker);
}

.backLink {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-normal);
  color: var(--grey-darkest);
}

.title {
  margin-bottom: 8px;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  color: var(--default-black);
}

.additionalInfo {
  width: 358px;
  margin-bottom: 16px;
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-normal);
  color: var(--default-black);
}

.btn {
  margin-bottom: 12px;
}

.supportLink {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-normal);
  text-decoration-line: underline;
  color: var(--grey-darker);
}
