.modalBox {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr;
  gap: 32px;
  top: 100%;
  left: 0;
  width: 981px;
  height: 420px;
  padding: 36px;
  border-radius: var(--border-radius-medium);
  background-color: var(--default-white);
  box-shadow: var(--modal-shadow);
}

.categoryBox {
  padding-inline-end: 24px;
  border-right: var(--border-width) var(--border-style) var(--grey-lighter);
}

.listCategories {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.categoryItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categoryItem:is(:hover, :focus) {
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}
