.loader {
  margin-top: 150px;
  margin-bottom: 650px;
  margin-left: 400px;
}

.pathList {
  margin-bottom: 20px;
  display: flex;
}

.pathItem {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-tiny);
  color: var(--grey-darker);
}

.active {
  color: var(--default-black);
}

.backButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--grey-darker);
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 81px;
}

.productDetails {
  width: 490px;
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}

.sellerInfo {
  display: flex;
  max-width: 490px;
  height: 197px;
  border-radius: var(--border-radius-medium);
  padding: 40px 30px 38px 40px;
  height: 197px;
  box-shadow: var(--cart-shadow);
  background-color: var(--default-white);
}

.delivery {
  border-radius: var(--border-radius-medium);
  padding: 25px 24px;
  max-width: 490px;
  height: 123px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  box-shadow: var(--cart-shadow);
  background-color: var(--default-white);
}

.paymentInfo {
  border-radius: var(--border-radius-medium);
  padding: 25px 24px 35px 24px;
  max-width: 490px;
  height: 150px;
  box-shadow: var(--cart-shadow);
  background-color: var(--default-white);
}
