/*Create order confirmation*/
.content {
  padding-block: 40px 64px;
  height: 100vh;
}

.wrapper {
  position: relative;
  width: 100%;
  padding-block: 24px 41px;
  padding-inline: 32px;
  border-radius: var(--border-radius-medium);
  background-color: var(--primary-yellow);
}

.infobox {
  width: 458px;
  margin-block-end: 30px;
}

.numberOrder {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  margin-block-end: 8px;
}

.text {
  margin-block-end: 16px;
  font-size: var(--font-size-tiny);
  font-variant: --font-weight-normal;
}

.text:last-of-type {
  margin-block-end: 0;
}

.imgOrder {
  position: absolute;
  bottom: 7px;
  right: 19px;
  width: 413px;
  height: 287px;
}

/*Create adverts confirmation*/
.addedOrder {
  white-space: nowrap;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  margin-block-end: 16px;
}

.finalText {
  margin-block-end: 30px;
  font-size: var(--font-size-tiny);
  font-variant: --font-weight-normal;
}

.imgAdd {
  transform: rotate(-2deg);
  position: absolute;
  bottom: -20%;
  right: 95px;
  width: 309px;
  height: 303px;
}
