.container {
  display: flex;
}

.pageContent {
  padding: 120px 20px 0px 20px;
}

.title {
  margin-bottom: 12px;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  color: var(--default-black);
}

.additionalInfo {
  margin-bottom: 32px;
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-normal);
  color: var(--default-black);
}

.loginLink {
  display: block;
  margin-bottom: 8px;
  width: var(--component-width);
  height: var(--component-height);
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
  text-align: center;
  font-size: var(--font-size-extra-small);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  color: var(--default-black);
  background-color: var(--primary-yellow);
}
