.modalBox {
  width: 403px;
  border-radius: var(--border-radius-medium);
  background-color: var(--background-modal);
  position: relative;
  padding: 176px 40px 40px 40px;
}

.checkIcon {
  display: flex;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 104px;
  height: 104px;
  color: var(--primary-yellow);
}

.orderTitle {
  margin-bottom: 24px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  text-align: center;
  color: var(--default-black);
}

.productTitle {
  display: flex;
  justify-content: center;
  margin: 0 auto 100px auto;
  max-width: 247px;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-extra-small);
  text-align: center;
  color: var(--default-black);
}

.orderBtn {
  margin-bottom: 11px;
  border-radius: var(--border-radius);
  padding: 10px;
  width: 322px;
  height: var(--component-height);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-extra-small);
  color: var(--default-black);
  border: none;
  background-color: var(--primary-yellow);
}

.orderBtn:hover {
  background-color: var(--secondary-peach);
  color: var(--default-white);
}

.orderBtn:focus {
  background-color: var(--secondary-dark-blue);
  color: var(--default-white);
}

.moreShoppingBtn {
  border: var(--border-width) var(--border-style) var(--default-black);
  border-radius: var(--border-radius);
  padding: 10px;
  width: 322px;
  height: var(--component-height);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-extra-small);
  color: var(--default-black);
  background-color: transparent;
}

.moreShoppingBtn:hover {
  border: var(--border-width-bigger) var(--border-style) var(--primary-yellow);
}

.moreShoppingBtn:focus {
  border: var(--border-width) var(--border-style) var(--default-black);
}
