.checkIcon {
  display: flex;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 104px;
  height: 104px;
  color: var(--primary-yellow);
}

.orderTitle {
  margin-bottom: 24px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  text-align: center;
  color: var(--default-black);
}

.productTitle {
  display: flex;
  justify-content: center;
  margin: 0 auto 100px auto;
  max-width: 247px;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-extra-small);
  text-align: center;
  color: var(--default-black);
}

.orderBtn {
  margin-bottom: 11px;
}
