.summarySection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.summarybox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  background-color: var(--default-white);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--cart-shadow);
}

.priceSummary {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-block-end: 12px;
}

.textUp {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  margin-block-end: 4px;
}

.text {
  font-size: var(--font-size-extra-small);
  font-weight: var(--font-weight-normal);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

hr {
  height: 1px;
  color: var(--grey-dark);
}

.coordination {
  font-size: var(--font-size-extra-tiny);
}

.infobox {
  display: flex;
  align-items: start;
  gap: 10px;
  margin-block-end: 16px;
  padding: 25px 24px;
  border-radius: var(--border-radius);
  background-color: var(--default-white);
  box-shadow: var(--cart-shadow);
}

.infoText,
.paymentInfo {
  font-size: var(--font-size-extra-small);
  font-weight: var(--font-weight-medium);
}

.infoLink {
  text-decoration: underline;
  color: var(--default-black);
}

.paymentInfobox {
  display: flex;
  align-items: center;
}

.paymentPay {
  margin-inline-start: 4px;
  color: var(--grey-medium);
}

.btnOrder:disabled {
  background-color: var(--grey-lighter);
  color: var(--default-white);
}
