.section {
  width: 1440px;
  margin: 0 auto;
  background-color: var(--grey-light);
  border-top: 1px solid var(--grey-darker);
}

.container {
  display: flex;
  gap: 81px;
  width: 1200px;
  padding: 40px 0 57px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: flex;
  gap: 56px;
}

.wrapperList {
  width: 212.5px;
}

.title {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  line-height: 1.26em;
  margin-bottom: 16px;
}

.item {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-extra-small);
}

.item:not(:last-child) {
  margin-bottom: 8px;
}

.link {
  color: var(--default-black);
  text-decoration: none;
}

.link:visited {
  color: var(--default-black);
}
