.container {
  width: 100%;
  background-color: #e8e8e8;
  border-top: 1px solid #949494;
}

.section {
  display: flex;
  gap: 81px;
  width: 1230px;
  padding: 40px 0 57px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: flex;
  gap: 56px;
}

.wrapperList {
  width: 212.5px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22.6px;
  margin-bottom: 16px;
}

.item {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.item:not(:last-child) {
  margin-bottom: 8px;
}
