.deliverybox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deliveryItem {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #b1b1b1;
  font-size: 14px;
  margin-block-end: 12px;
}

.deliveryItem:last-child {
  margin-block-end: 0;
}

.deliveryOption {
  display: flex;
  align-items: center;
  gap: 8px;
}

input {
  width: 20px;
  height: 20px;
  color: #b1b1b1;
}

.deliveryDetails {
  margin-top: 17px;
}

.detailsWrapper {
  margin-block-end: 8px;
}

.detailsWrapperAddress {
  display: inline-block;
  margin-block-end: 8px;
}

.detailsLabel {
  display: block;
  margin-block-end: 4px;
  font-size: 14px;
  font-weight: 700;
}

.detailsInputbox,
.detailsInputAddress {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailsInputAddress {
  gap: 12px;
}

.detailsInput,
.detailsInputCity,
.detailsInputHouse,
.detailsInputApart {
  width: 100%;
  height: 44px;
  padding-inline: 12px;
  border-radius: 8px;
  border: 1px solid #b1b1b1;
  background-color: #fff;
  color: black;
  outline: none;
}

.detailsInputCity {
  width: 226px;
}

.detailsInputHouse {
  width: 72px;
}

.detailsInputApart {
  width: 58px;
}

.detailsInput:is(:hover, :focus) {
  border: 1px solid #fcbc5a;
}

.detailsIcon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #fcbc5a;
  border-radius: 1px;
  height: 50px;
}

::-webkit-scrollbar-track {
  background-color: rgba(252, 188, 90, 0.32);
}

.scrollbox {
  overflow-y: auto;
}

.scrollbox_inner {
  height: auto;
}

.optionList {
  width: 574px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.optionInput[type='radio'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #b1b1b1;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

.optionInput[type='radio']:checked {
  background-color: white;
  border-color: #fcbc5a;
}

.optionInput[type='radio']:checked::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fcbc5a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.optionItem {
  color: #414141;
  cursor: pointer;
}

.optionItem:is(:hover, :focus) {
  font-weight: 700;
  color: black;
}

.detailsSelect {
  width: 614px;
  height: 172px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 1px 12px 0px #82540826;
}
