.listWrap {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.deliveryBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deliveryItem {
  padding: 16px;
  border-radius: var(--border-radius);
  border: var(--border-width) var(--border-style) var(--grey-dark);
  font-size: var(--font-size-tiny);
  margin-block-end: 12px;
}

.deliveryItem:last-child {
  margin-block-end: 0;
}

.deliveryDetails {
  margin-top: 17px;
}
