.wrapper {
  padding: 24px;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--cart-shadow);
  border: none;
}

.title {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  margin-block-end: 20px;
}

.labelAdvert {
  display: block;
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-bold);
  color: var(--default-black);
}

.spanLabel {
  margin-block-end: 5px;
}

.categoryBox {
  position: relative;
  margin-block-start: 4px;
  width: 374px;
  height: 44px;
}

.categoryBox:hover .inputAdvert {
  border-color: var(--primary-yellow);
}

.categoryBox:hover .categoryIcon {
  color: var(--primary-yellow);
}

.inputAdvert {
  display: block;
  width: 100%;
  height: 44px;
  padding-inline: 12px;
  border-radius: var(--border-radius);
  border: var(--border-width) var(--border-style) var(--grey-dark);
  outline: var(--border-width) var(--border-style) transparent;
  cursor: pointer;
}

.inputAdvert::placeholder {
  color: var(--grey-dark);
}

.errorBorder {
  border: var(--border-width) var(--border-style) var(--error-red);
}

.openBorder {
  border-color: var(--primary-yellow);
}

.categoryIcon {
  width: var(--icon-size-normal);
  height: var(--icon-size-normal);
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: var(--grey-dark);
}

.errorIcon {
  color: var(--error-red);
}

.openIcon {
  color: var(--primary-yellow);
}

.resultBox {
  display: flex;
  align-items: center;
}

.resultLabel {
  margin-right: 56px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-tiny);
  color: var(--default-black);
}

.resultText {
  font-weight: var(--font-weight-normal);
}

.editBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--default-black);
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: var(--font-size-tiny);
}

.editIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
