.selectedFilters {
  max-width: 1;
  margin-block-end: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.selectedFiltersList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.filterChip,
.clearAllBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px;
  border: var(--border-width) var(--border-style) var(--grey-dark);
  border-radius: var(--border-radius);
  font-size: var(--font-size-tiny);
}

.clearAllBtn {
  border: none;
  background-color: transparent;
}

.clearAllBtn {
  color: var(--error-red);
}
