/* .delivery_section {
  padding: 24px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 1px 12px 0px rgba(130, 84, 8, 0.15);
} */

.title {
  font-size: 18px;
  font-weight: 700;
}

.dellivery_seller {
  border-bottom: 1px solid #eee;
  padding-block: 28px;
}

.delivery_seller:first-of-type {
  padding-block-start: 20px;
}

.delivery_seller:last-of-type {
  border-bottom: none;
  padding-block-end: 0;
}

.sellerbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seller_name {
  margin-block-end: 16px;
  font-weight: 600;
  font-size: 16px;
  color: #0c0600;
}

.quantity_goods {
  color: #949494;
}

.seller_price {
  font-weight: 600;
  font-size: 16px;
  color: #0c0600;
}

.cart_list {
  margin-block-end: 20px;
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.cart_item {
  display: flex;
  align-items: start;
}

.item_details {
  width: 335px;
  margin-inline-end: 16px;
}

.item_img {
  margin-inline-end: 20px;
  width: 88px;
  height: 88px;
  border-radius: 8px;
  opacity: 0px;
}

.item_title {
  margin-block-end: 4px;
  font-size: 14px;
}

.item_seller {
  margin-block-end: 16px;
  font-size: 12px;
  color: #414141;
}

.item_filter {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 12px;
  color: #000;
}

.item_price {
  margin-inline-start: auto;
  font-weight: bold;
  font-size: 18px;
  color: #000;
}

.deliverybox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deliveryItem {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #b1b1b1;
  font-size: 14px;
  margin-block-end: 12px;
}

.deliveryItem:last-child {
  margin-block-end: 0;
}

.deliveryOption {
  display: flex;
  align-items: center;
  gap: 8px;
}

input {
  width: 20px;
  height: 20px;
  color: #b1b1b1;
}

.deliveryDetails {
  margin-top: 17px;
}

.detailsWrapper {
  margin-block-end: 8px;
}

.detailsWrapperAddress {
  display: inline-block;
  margin-block-end: 8px;
}

.detailsLabel {
  display: block;
  margin-block-end: 4px;
  font-size: 14px;
  font-weight: 700;
}

.detailsInputbox,
.detailsInputAddress {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailsInputAddress {
  gap: 12px;
}

.detailsInput,
.detailsInputCity,
.detailsInputHouse,
.detailsInputApart {
  width: 100%;
  height: 44px;
  padding-inline: 12px;
  border-radius: 8px;
  border: 1px solid #b1b1b1;
  background-color: #fff;
  color: black;
  outline: none;
}

.detailsInputCity {
  width: 226px;
}

.detailsInputHouse {
  width: 72px;
}

.detailsInputApart {
  width: 58px;
}

.detailsInput:is(:hover, :focus) {
  border: 1px solid #fcbc5a;
}

.detailsIcon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #fcbc5a;
  border-radius: 1px;
  height: 50px;
}

::-webkit-scrollbar-track {
  background-color: rgba(252, 188, 90, 0.32);
}

.scrollbox {
  overflow-y: auto;
}

.scrollbox_inner {
  height: auto;
}

.optionList {
  width: 574px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.optionItem {
  color: #414141;
  cursor: pointer;
}

.optionItem:is(:hover, :focus) {
  font-weight: 700;
  color: black;
}

.detailsSelect {
  width: 614px;
  height: 172px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 1px 12px 0px #82540826;
}

.btnContinue {
  display: block;
  margin-block-start: 24px;
  margin-inline-start: auto;
}
