.title {
  font-size: 18px;
  font-weight: 700;
}

.delivery_seller {
  border-bottom: 1px solid #eee;
  padding-block: 28px;
}

.delivery_seller:first-of-type {
  padding-block-start: 20px;
}

.delivery_seller:last-of-type {
  border-bottom: none;
  padding-block-end: 0;
}

.sellerbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seller_name {
  margin-block-end: 16px;
  font-weight: 600;
  font-size: 16px;
  color: #0c0600;
}

.quantity_goods {
  color: #949494;
}

.seller_price {
  font-weight: 600;
  font-size: 16px;
  color: #0c0600;
}

.cart_list {
  margin-block-end: 20px;
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.cart_item {
  display: flex;
  align-items: start;
}

.item_img {
  margin-inline-end: 20px;
  width: 88px;
  height: 88px;
  border-radius: 8px;
  opacity: 0px;
}

.item_title {
  margin-block-end: 12px;
  font-size: 14px;
}

.item_details {
  width: 335px;
  margin-inline-end: 16px;
}

.item_filter {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 12px;
  color: #000;
}

.item_price {
  margin-inline-start: auto;
  font-weight: 700;
  font-size: 14px;
  color: #000;
}

.btnContinue {
  display: block;
  margin-block-start: 24px;
  margin-inline-start: auto;
}
