.deliverySeller {
  border-bottom: var(--border-width) var(--border-style) var(--grey);
  padding-block: 28px;
}

.deliverySeller:first-of-type {
  padding-block-start: 20px;
}

.deliverySeller:last-of-type {
  border-bottom: none;
  padding-block-end: 0;
}

.sellerBox {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.sellerName {
  margin-block-end: 16px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-extra-small);
  color: var(--default-black);
}

.quantityGoods {
  color: var(--grey-darker);
  font-weight: var(--font-weight-normal);
}

.sellerPrice {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-extra-small);
  color: var(--default-black);
}

.btnContinue {
  margin-block-start: 24px;
}

/*DELIVERY CART STYLES*/
.cartItemCustom {
  display: flex;
  padding-block-end: 8px;
  width: 618px;
}
