.overlay {
  position: fixed;
  top: 0;
  left: 0;
	right: 0;
	bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--background-backdrop);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 777;
}

.modal {
  width: 816px;
  display: flex;
  border-radius: var(--border-radius-medium);
  background-color: var(--background-modal);
  position: relative;
}

.crossBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.crossIcon {
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--default-black);
}
