.cart_container {
  /* margin-inline: auto;
  max-width: 1440px; */
  background: #fefcfa;
}

.navbox {
  padding: 20px 120px;
}

.navLink {
  margin-inline-end: 4px;
  font-size: 14px;
  color: #949494;
}

.navLink:last-child {
  margin-inline-end: 0;
}

.active {
  font-size: 14px;
  color: black;
}

.cartAndSummary {
  display: grid;
  grid-template-columns: 694px 490px;
  gap: 16px;
}

.selectAll {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
}
.checkbox {
  width: 20px;
  height: 20px;
  color: rgba(177, 177, 177, 1);
  border-radius: 2px;
  border: 1px solid rgba(177, 177, 177, 1);
}
