.section {
  min-height: 600px;
}

.title {
  margin-block-end: 32px;
  font-size: var(--font-size-large-medium);
  font-weight: var(--font-weight-bold);
  color: var(--default-black);
}

.spanTitle {
  color: var(--secondary-peach);
}

.contentbox {
  display: flex;
  gap: 16px;
}

.contentbox img {
  max-height: 406px;
  height: auto;
  object-fit: cover;
}
