.section {
  padding-bottom: 114px;
}

.title {
  margin-block-end: 32px;
  font-size: var(--font-size-large-medium);
  font-weight: var(--font-weight-bold);
  color: var(--default-black);
}

.spanTitle {
  color: var(--secondary-peach);
}

.contentbox {
  display: flex;
  gap: 16px;
}

.contentbox img {
  max-height: 406px;
  height: auto;
  object-fit: cover;
}

.answer {
  padding-inline: 16px;
  padding-block: 8px 20px;
  background-color: var(--secondary-peach);
  color: var(--default-white);
  font-size: var(--font-size-extra-small);
  font-weight: var(--font-weight-normal);
  border-bottom-left-radius: var(--border-radius-medium);
  border-bottom-right-radius: var(--border-radius-medium);
}
