.container {
    margin: 0 auto;
    max-width: 1200px;
    margin-block-end: 114px;
}

.title {
    margin-block-end: 32px;
    font-size: 32px;
    font-weight: 700;
    color: black;
}

.span_title {
    color: #f67b52;
}

.contentbox {
    display: flex;
    gap: 16px;
}

.answer {
    padding-inline: 16px;
    padding-block: 8px 20px;
    background-color: #f67b52;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}