.section {
  padding: 142px 120px 152px 120px;
  background-color: #bebebe;
}

.title {
  max-width: 692px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 40px;
}

.caption {
  max-width: 385px;
  margin-bottom: 32px;

  font-size: 20px;
}

.button {
  font-family: var(--second-family);
  font-size: 16px;
  line-height: 125%;
  background-color: transparent;

  padding: 15px 40.5px;
  border: 1px solid #ababab;
}
