.detailsWrapperAddress {
  display: inline-block;
  margin-block-end: 8px;
}

.detailsInputAddress {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
	gap: 12px;
}
