.section {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.firstPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 120px;
}

.leftPart,
.rightPart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.catalogBtn {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 16px;
  line-height: 1.255;
  background-color: transparent;
  border: none;
}

.burgerIcon {
  fill: black;
  stroke: black;
}

.loginButton {
	background-color: transparent;
	border: none;
  outline: none;
}
