.fieldWrapper {
  position: relative;
}

.wrapperNormal {
  margin-bottom: 12px;
}

.wrapperError {
  margin-bottom: 5px;
}

.fieldLabel {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-tiny);
  color: var(--default-black);
}

.formInput {
  margin-top: 5px;
  width: 317px;
  height: 44px;
  padding: 12px;
  color: var(--default-black);
  border-radius: var(--border-radius);
  border: var(--border-width) var(--border-style) var(--grey-dark);
  outline: var(--border-width) var(--border-style) transparent;
}

.formInput:focus {
  border: var(--border-width) var(--border-style) var(--primary-yellow);
}

.formInput::placeholder {
  color: var(--grey-dark);
}

.fieldInputError {
  border: var(--border-width) var(--border-style) var(--error-red);
}

.fieldInputFilled {
  border: var(--border-width) var(--border-style) var(--default-black);
  color: var(--default-black);
}

.error {
	margin-top: 5px;
  font-size: var(--font-size-extra-tiny);
  font-weight: var(--font-weight-normal);
  color: var(--error-red);
}
