.orderbox {
  display: grid;
  grid-template-columns: 694px 490px;
  gap: 16px;
  align-items: start;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rightColumn {
  position: relative;
}

.stickyBlock {
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.deliverybox,
.paymentbox {
  padding: 24px;
  background-color: var(--default-white);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--cart-shadow);
}

.title {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
}
