.sortSection {
  margin-block-end: 19px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count {
  font-size: var(--font-size-tiny);
  color: var(--grey-darker);
}

.sortbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}

.label {
  color: var(--grey-darkest);
  margin-inline-end: 8px;
}

.select {
  border: none;
  outline: none;
}

.option {
  color: var(--default-black);
}
