.container {
  position: relative;
  display: flex;
}

.pageContent {
  padding: 80px 20px;
}

.backLinkWrap {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 32px;
}

.arrowIcon {
  margin-right: 4px;
  width: var(--icon-size-normal);
  height: var(--icon-size-normal);
  stroke: var(--grey-darker);
}

.backLink {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-normal);
  color: var(--grey-darkest);
}

.title {
  margin-bottom: 8px;
  font-size: var(--font-size-medium);
  font-weight: --font-weight-bold;
  color: var(--default-black);
}

.info {
  width: var(--component-width);
  margin-bottom: 16px;
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-normal);
  color: var(--default-black);
}

.input {
  width: var(--component-height);
  height: var(--component-height);
  padding: 10px;
  text-align: center;
  font-size: var(--font-size-medium-small);
  border: var(--border-width) var(--border-style) var(--grey-dark);
  border-radius: var(--border-radius-small);
  background-color: transparent;
  outline: var(--border-width) var(--border-style) transparent;
  appearance: none;
}

.container .input.inputError {
  border-color: var(--error-red);
}

.container .input.inputError:focus {
  border-color: var(--error-red);
}

.container .input.inputError:hover {
  border-color: var(--error-red);
}

.input.filled {
  border-color: var(--default-black);
}

.input.filled:hover {
  border-color: var(--default-black);
}

.input.filled:focus {
  border-color: var(--default-black);
}

.input:hover {
  border-color: var(--primary-yellow);
}

.input:focus {
  outline: var(--border-width) var(--border-style) transparent;
  border-color: var(--primary-yellow);
}

.input::placeholder {
  color: var(--default-black);
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-normal);
}

.codeInputWrapper {
  display: flex;
  column-gap: 8px;
}

.additionalInfo {
  margin-top: 4px;
  font-size: var(--font-size-extra-tiny);
  font-weight: var(--font-weight-normal);
  color: var(--error-red);
}

.supportLink {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-normal);
  text-decoration-line: underline;
  color: var(--grey-darker);
}
