.section {
  padding: 24px;
  background-color: var(--default-white);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--cart-shadow);
}

.title {
  margin-block-end: 20px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
}

.formWrapper {
  display: flex;
  gap: 12px;
}

.btnContinue {
  display: block;
  margin-block-start: 12px;
  margin-inline-start: auto;
}

.editBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--default-black);
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: var(--font-size-tiny);
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  margin-block-end: 8px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-tiny);
}

.userData {
  font-weight: var(--font-weight-normal);
}
