.ordershopping_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 300px;
  padding: 24px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 1px 12px 0px rgba(130, 84, 8, 0.15);
}

.goods_edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity_goods {
  font-size: 16px;
  font-weight: 600;
}

.editbox {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
}

.edit {
  text-decoration: underline;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #fcbc5a;
  border-radius: 1px;
  height: 50px;
}

::-webkit-scrollbar-track {
  background-color: rgba(252, 188, 90, 0.32);
}

.scrollbox {
  overflow-y: auto;
}

.scrollbox_inner {
  height: auto;
}

.cart_list {
  margin-block-end: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
