.orderShoppingSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 300px;
  padding: 24px;
  background-color: var(--default-white);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--cart-shadow);
}

.goodsEdit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantityGoods {
  font-size: var(--font-size-extra-small);
  font-weight: var(--font-weight-medium);
}

.editBox {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--default-black);
}

.edit {
  text-decoration: underline;
  font-size: var(--font-size-tiny);
}

.cartList {
  margin-block-end: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
