.filters {
  width: 228px;
  border-right: var(--border-width) var(--border-style) var(--grey-lighter);
}

.filterGroup {
  position: relative;
  margin-block-end: 24px;
  border: none;
}

.groupTitle {
  margin-block-end: 17px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  color: var(--default-black);
}

.btnFilter {
  all: unset;
}

.iconFilter {
  position: absolute;
  top: 0;
  left: 178px;
  border: none;
  background-color: transparent;
}

.optionLabel {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 20px;
  margin-block-end: 12px;
  cursor: pointer;
  font-size: var(--font-size-tiny);
  color: var(--default-black);
  user-select: none;
}

.optionLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.optionLabel .checkmark {
  min-width: 20px;
  height: 20px;
  background-color: var(--default-white);
  border: var(--border-width) var(--border-style) var(--grey-dark);
  border-radius: var(--border-radius-small);
  display: inline-block;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}

.optionLabel input:checked + .checkmark {
  background-color: var(--primary-yellow);
  border: none;
}

.optionLabel .checkmark::after {
  content: '';
  position: absolute;
  display: none;
  left: 7px;
  top: 2px;
  width: 7px;
  height: 12px;
  border: var(--border-style) var(--default-white);
  border-width: 0 var(--border-width-big) var(--border-width-big) 0;
  transform: rotate(45deg);
}

.optionLabel input:checked + .checkmark::after {
  display: block;
}

.optionLabel:last-child {
  margin-block-end: 0;
}

.filterOption {
  position: relative;
  display: block;
}

.colorbox {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.colorSquare {
  width: 32px;
  height: 32px;
  border: none;
}

.colorSquare:active {
  transform: scale(1.3);
  box-shadow: var(--shadow);
}
