.nav {
  position: relative;
  display: block;
  padding: 10px 0;
  width: 100%;
  border-top: 1px solid #b1b1b1;
  border-bottom: 1px solid #b1b1b1;
}

.nav svg {
  stroke: black;
  fill: transparent;
}
/* 
.nav::before {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #b1b1b1;
  width: 100vw;
  left: 0;
  top: 0;
}

.nav::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #b1b1b1;
  width: 200%;
  left: -50%;
  bottom: 0;
} */

.list {
  display: flex;
  gap: 26px;
  margin-left: 97px;
}

.itemLink {
  display: flex;
  align-items: center;
  gap: 6px;
}

.itemLink:hover,
.itemLink:focus {
  color: #da5135;
}

.itemLink:hover svg,
.itemLink:focus svg {
  stroke: #da5135;
}
