.socialButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  width: 180px;
  height: var(--component-height);
  border-radius: var(--border-radius);
  border: var(--border-width) var(--border-style) var(--grey-dark);
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-normal);
  background-color: transparent;
  color: var(--default-black);
}

.facebookIcon {
  margin-right: 8px;
  width: var(--icon-size-large);
  height: var(--icon-size-large);
  fill: var(--facebook-blue);
}

