.slider_container {
  margin-block-end: 31px;
}

.slider_item {
  outline: none;
}

.prevBtn {
  position: absolute;
  top: 60px;
  left: 8px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  background-color: var(--grey-lightest);
  color: #000;
  border: none;
}

.nextBtn {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  background-color: var(--grey-lightest);
  color: #000;
  border: none;
}

.arrowIcon {
  position: absolute;
  top: 11px;
  left: 0;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  z-index: 2;
}

.item_img {
  position: relative;
  width: 288px;
  height: 120px;
  border-radius: 8px;
  margin-bottom: 8px;
  background-color: rgb(243, 178, 229);
  object-fit: cover;
}

.category_list {
  display: flex;
  gap: 16px;
  margin-block-end: 31px;
}

.child_title {
  font-size: 14px;
  color: #000;
}

.child_title_color {
  color: #949494;
}
