.sliderItem {
  outline: none;
}

.itemImg {
  width: 288px;
  height: 120px;
  border-radius: var(--border-radius);
  margin-bottom: 8px;
  background-color: var(--grey-lighter);
  object-fit: cover;
}

.childTitle {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-tiny);
  color: var(--default-black);
}

.categoryList {
  display: flex;
  gap: 16px;
  margin-block-end: 31px;
}

.categoryPrevBtn {
  left: 8px;
  top: 60px;
  width: 24px;
  height: 24px;
}

.categoryNextBtn {
  right: 8px;
  top: 60px;
  width: 24px;
  height: 24px;
}

.categoryArrowIcon {
  width: var(--icon-size);
  height: var(--icon-size);
}
